{{- $p := .Paginator -}}
{{- if gt $p.TotalPages 1 -}}
<nav class="pager" aria-label="Pagination">
  {{ if $p.HasPrev }}<a href="{{ $p.Prev.URL }}">&larr; {{ i18n "pagerNewer" }}</a>{{ else }}<span>&larr; {{ i18n "pagerNewer" }}</span>{{ end }}
  {{ range $p.Pagers }}
    {{ if eq . $p }}
      <span class="current">{{ .PageNumber }}</span>
    {{ else if or (le .PageNumber 2) (ge .PageNumber (sub $p.TotalPages 1)) (lt (math.Abs (sub .PageNumber $p.PageNumber)) 3) }}
      <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ else if or (eq .PageNumber 3) (eq .PageNumber (sub $p.TotalPages 2)) }}
      <span>&hellip;</span>
    {{ end }}
  {{ end }}
  {{ if $p.HasNext }}<a href="{{ $p.Next.URL }}">{{ i18n "pagerOlder" }} &rarr;</a>{{ else }}<span>{{ i18n "pagerOlder" }} &rarr;</span>{{ end }}
</nav>
{{- end -}}
